{% extends 'employee_registry/main.html' %}
{% load crispy_forms_tags %}

{% block content %}

  <h1 class="text-center">Employee Form</h1>
  <hr>

  <form action="" method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.name|as_crispy_field }}
    {{ form.email|as_crispy_field }}

    <div class="row">
        
        <div class="col-md-4">
          {{ form.phone|as_crispy_field }}
        </div>
        
        <div class="col-md-4">
          {{ form.age|as_crispy_field }}
        </div>
        
        <div class="col-md-4">
          {{ form.gender|as_crispy_field }}
        </div>
    </div>

    <div class="row">
      
      <div class="col-md-6">
        {{ form.address|as_crispy_field }}
      </div>

      <div class="col-md-6">
        {{ form.position|as_crispy_field }}
      </div>

    </div>

    <div class="row">

      <div class="form-group mx-3">
        <label>Image Upload</label>
        <input name="image" type="file" class="form-control-file">
      </div>
      
    </div>

    <div class="row">

        <br>

        <div class="col-md-8">
          <button type="submit" class="btn btn-block btn-info">Submit</button>
        </div>

        <div class="col-md-4">
          <a class="btn btn-dark btn-block" href="{% url 'list' %}">Back to List</a>
        </div>

    </div>


  </form>

  

{% endblock %}
